<section class="container" id="login">

  <div id="info">
    <h1>{{ 'BRAND' | translate }}</h1>
    <h2 id="tagline">{{ 'TAG_LINE' | translate }}</h2>
    <p>{{ 'BLURB' | translate }}</p>
    <ul>
      <li>{{ 'FEATURE_1' | translate }}</li>
    </ul>
  </div>

  <form novalidate class="simple-form" id="login-form">

    <p ng-show="login.error" class="error">{{ login.error | translate }}</p>

    <label for="username">{{ 'USERNAME' | translate }}</label>
    <input type="text" name="username" id="username" ng-model="login.user.username" />

    <label for="password">{{ 'PASSWORD' | translate }}</label>
    <input type="password" name="password" id="password" ng-model="login.user.password">

    <input type="submit" ng-click="login.login(login.user)" value="{{ 'LOGIN' | translate }}" class="login" />

  </form>

</section>

<footer>
  <div id="not-real">{{ 'NOT_REAL_BANK' | translate }} <a href="" ng-click="login.translate('en')" id="translate-english">EN</a> | <a href="" ng-click="login.translate('tr')" id="translate-turkish">TR</a></div>
  <div id="github"><a href="https://github.com/Joe8Bit/foo-bank">github.com/Joe8Bit/foo-bank</a></div>
</footer>